
<!-- desktop -->
<div class="desktop" *appShowWhenOneOfSizes="['sm', 'md', 'lg', 'xl']">
    <div class="bg"></div>
    <div class="con">
        <main nz-typography fxLayoutAlign="center end" fxLayout="column">
            <h2>Welcome in Kroton,</h2>
            <p  nz-typography>
                Kroton is an app that will help you better manage and organize your work.
                Kroton have couples of modules that will help make you more productive and efficient.
                For instance you can go to Time Manager module, and better manage your work time.
            </p>
            <div fxLayout="row" fxFill fxLayoutAlign="end" fxLayoutGap="10px">
                <a [routerLink]="['/register']" nz-button nzType="primary" nzSize="large" style="color: white;">Register new account</a>
                <a [routerLink]="['/login']" nz-button nzType="link" nzSize="large">Login</a>
            </div>
        </main>
    </div>
</div>

<!-- mobile -->
<div class="mobile" *appShowWhenOneOfSizes="['xs']">
    <div class="con">
        <main nz-typography fxLayoutAlign="center end" fxLayout="column">
            <h2>Welcome in Kroton,</h2>
            <p nz-typography>
                Kroton is an app that will help you better manage and organize your work.
                Kroton have couples of modules that will help make you more productive and efficient.
                For instance you can go to Time Manager module, and better manage your work time.
            </p>
            <div fxFill fxLayout="column" fxLayoutAlign="end" fxLayoutGap="10px">
                <a [routerLink]="['/register']" nz-button nzType="primary" nzSize="large" style="color: white;">Register new account</a>
                <a [routerLink]="['/login']" nz-button nzType="link" nzSize="large">Login</a>
            </div>
        </main>
    </div>
</div>
