<!-- <div class="topbar" fxLayout="row">

  <ul  nz-menu nzMode="horizontal">
    <li nz-menu-item nzMatchRouter>
      <a [routerLink]="['/welcome']" class="kroton">
        Kroton
      </a>
    </li>
    <li fxHide.lt-sm  fxFlexOffset="auto" class="register" nz-menu-item nzMatchRouter>
      <a [routerLink]="['/register']" nzType="primary">Register new account</a>
    </li>
    <li fxHide.lt-sm  nz-menu-item nzMatchRouter>
      <a [routerLink]="['/login']">Login</a>
    </li>
  </ul>


  <a fxFlexOffset="auto"  fxHide.gt-xs  nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
    <i style="font-size: 20px; margin: 15px; margin-right: 20px;"  nz-icon nzType="menu" nzTheme="outline"></i>
  </a>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/welcome']" >
          Kroton
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/register']" nzType="primary">Register new account</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/login']">Login</a>
      </li>
    </ul>
  </nz-dropdown-menu>
</div> -->




<!-- desktop -->
<div  *appShowWhenOneOfSizes="['sm', 'md', 'lg', 'xl']" class="desktop">
  <ul  nz-menu nzMode="horizontal">
    <li nz-menu-item nzMatchRouter>
      <a [routerLink]="['/welcome']" class="kroton">
        Kroton
      </a>
    </li>
    <li fxFlexOffset="auto" class="register" nz-menu-item nzMatchRouter>
      <a [routerLink]="['/register']" nzType="primary">Register new account</a>
    </li>
    <li nz-menu-item nzMatchRouter>
      <a [routerLink]="['/login']">Login</a>
    </li>
  </ul>
</div>

<!-- mobile -->
<div *appShowWhenOneOfSizes="['xs']" class="mobile">
  <a fxFlexOffset="auto"  nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
    <i style="font-size: 20px; margin: 15px; margin-right: 20px;"  nz-icon nzType="menu" nzTheme="outline"></i>
  </a>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/welcome']" >
          Kroton
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/register']" nzType="primary">Register new account</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/login']">Login</a>
      </li>
    </ul>
  </nz-dropdown-menu>
</div>
