.nav {
    height: 70px;

    // .kroton-logo {
    //     text-transform: uppercase;
    //     letter-spacing: 3px;
    // }
    .kroton-logo {
        // font-size: 24px;
        // text-decoration: none;
        margin-left: 5px;
        margin-top: 5px;
        // color: black;
        letter-spacing: 4px;
    }
    
    ul {
        box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    i {
        margin: auto;   
    }
}

.mobile {
    border-bottom: 1px solid #f0f0f0;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);

    .kroton-logo {
        // font-size: 24px;
        // text-decoration: none;
        margin-left: 5px;
        margin-top: 5px;
        // color: black;
        letter-spacing: 4px;
    }
}
