<!-- desktop -->
<div class="nav">
  <ul nz-menu nzMode="horizontal">
    <li nz-menu-item style="border-bottom: none;">
      <a style="color:#1890ff;" nz-button nzType="link" nzSize="large" class="kroton-logo" [routerLink]="['/welcome']">
        KROTON
      </a>
    </li>
    <li fxFlexOffset="auto" class="register" nz-menu-item nzMatchRouter>
      <a [routerLink]="['/register']" nzType="primary">
        <i nz-icon nzType="user-add" nzTheme="outline"></i>
      </a>
    </li>
    <li nz-menu-item nzMatchRouter>
      <a [routerLink]="['/login']">
        <i nz-icon nzType="login" nzTheme="outline"></i>
      </a>
    </li>
  </ul>
</div>

<!-- mobile -->
<!-- <div *appShowWhenOneOfSizes="['xs']" class="mobile">
  <a nz-button nzType="link" nzSize="large"  class="kroton-logo"  [routerLink]="['/welcome']">
    KROTON
  </a>
  <a fxFlexOffset="auto" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
    <i nz-icon nzType="ellipsis" nzTheme="outline" nzRotate="90"
      style="font-size: 20px; margin: 15px; margin-right: 20px;"></i>
  </a>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/register']" nzType="primary">Register new account</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/login']">Login</a>
      </li>
    </ul>
  </nz-dropdown-menu>
</div> -->